<a href="https://colab.research.google.com/github/michellssGUi/conciergeControl/blob/master/Analise_de_dados_Cat_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.DataFrame({'animal': ['dog', 'cat', 'dog'], 'sexo': ['macho', 'femea', 'femea'],
                   'idade': [1, 2, 3]})

In [ ]:
for col in ['animal', 'sexo']:
    df[col] = df[col].astype('category')

cat_columns = df.select_dtypes(['category']).columns

map_categ_cols = {}
for col in cat_columns:
    map_categ_cols[col] = dict( enumerate(df[col].cat.categories) )
print(map_categ_cols)

df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

{'animal': {0: 'cat', 1: 'dog'}, 'sexo': {0: 'femea', 1: 'macho'}}

In [ ]:
df

   animal  sexo  idade
0       1     1      1
1       0     0      2
2       1     0      3