<a href="https://colab.research.google.com/github/michellssGUi/conciergeControl/blob/master/C%C3%B3pia_de_Analise_de_dados_slot_05_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data_consumo = {
    0: {"id": "xx1", "dt_consumo": "2020-11-03", "vl_consumo": 50},
    1: {"id": "xx1", "dt_consumo": "2020-11-15", "vl_consumo": 21},
    2: {"id": "xx2", "dt_consumo": "2020-11-18", "vl_consumo": 33},
    3: {"id": "xx2", "dt_consumo": "2020-12-16", "vl_consumo": 23},
    4: {"id": "xx3", "dt_consumo": "2020-11-06", "vl_consumo": 45},
    5: {"id": "xx4", "dt_consumo": "2020-12-18", "vl_consumo": 46},
    6: {"id": "xx4", "dt_consumo": "2020-11-18", "vl_consumo": 12},
    7: {"id": "xx4", "dt_consumo": "2020-11-04", "vl_consumo": 34},
}

In [ ]:
data_id = {
    0: {"id": "xx1", "dt_compra": "2020-12-01", "flg_comprou": 1},
    1: {"id": "xx2", "dt_compra": "2020-12-15", "flg_comprou": 1},
    2: {"id": "xx3", "dt_compra": np.nan, "flg_comprou": 0},
    3: {"id": "xx4", "dt_compra": np.nan, "flg_comprou": 0}
}

In [ ]:
df_consumo = pd.DataFrame.from_dict(data_consumo).transpose()
df_id = pd.DataFrame.from_dict(data_id).transpose()

In [ ]:
df_consumo.head()

    id  dt_consumo vl_consumo
0  xx1  2020-11-03         50
1  xx1  2020-11-15         21
2  xx2  2020-11-18         33
3  xx2  2020-12-16         23
4  xx3  2020-11-06         45

In [ ]:
df_id.head()

    id   dt_compra flg_comprou
0  xx1  2020-12-01           1
1  xx2  2020-12-15           1
2  xx3         NaN           0
3  xx4         NaN           0

In [ ]:
df_merge = pd.merge(df_id, df_consumo, left_on='id', right_on='id', how='left')

In [ ]:
df_merge

    id   dt_compra flg_comprou  dt_consumo vl_consumo
0  xx1  2020-12-01           1  2020-11-03         50
1  xx1  2020-12-01           1  2020-11-15         21
2  xx2  2020-12-15           1  2020-11-18         33
3  xx2  2020-12-15           1  2020-12-16         23
4  xx3         NaN           0  2020-11-06         45
5  xx4         NaN           0  2020-12-18         46
6  xx4         NaN           0  2020-11-18         12
7  xx4         NaN           0  2020-11-04         34