<a href="https://colab.research.google.com/github/michellssGUi/conciergeControl/blob/master/C%C3%B3pia_de_Analise_de_dados_Pivot_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"], 
                   "C": ["small", "large", "large", "small", "small", "large", "small", "small", "large"], 
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7], 
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [5]:
df.head()

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6

In [6]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                       columns=['C'], aggfunc=np.sum)

In [7]:
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [9]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                       columns=['C'], aggfunc=np.sum, fill_value=0)
table

C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

In [13]:
table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'B'],
                       aggfunc={'D': np.sum,
                                'E': [min, max, np.mean]})
table

          D    E
        sum  max      mean  min
A   B
bar one   9  8.0  7.000000  6.0
    two  13  9.0  9.000000  9.0
foo one   5  5.0  3.666667  2.0
    two   6  6.0  5.500000  5.0