<a href="https://colab.research.google.com/github/michellssGUi/conciergeControl/blob/master/Tratamento_de_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
                   (np.nan, 2.0, np.nan, np.nan),
                   (2.0, 3.0, np.nan, 9.0),
                   (np.nan, 4.0, -4.0, 16.0)],
                  columns=list('abcd'))
df

     a    b    c     d
0  0.0  NaN -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

# Fill Value

* Cria-se uma vaiável, nesse caso a de nome "fill_value" e se atribui o valor o qual estará substituindo os nulos na colula escolhida por meio da função "fillna()"

In [3]:
fill_value = df.b.mean() #nesse caso o valor atribuido foi a média da coluna "b"
df['b'].fillna(fill_value)

0    3.0
1    2.0
2    3.0
3    4.0
Name: b, dtype: float64

In [5]:
#jogando o resultado no df
fill_value = df.b.mean()
df['b'] = df['b'].fillna(fill_value)
df

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

# Drop

In [6]:
df.dropna(subset=['a'])

     a    b    c    d
0  0.0  3.0 -1.0  1.0
2  2.0  3.0  NaN  9.0

# Interpolate

In [8]:
df

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [7]:
df.interpolate(method='linear', limit_direction='forward', axis=0)

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  1.0  2.0 -2.0   5.0
2  2.0  3.0 -3.0   9.0
3  2.0  4.0 -4.0  16.0

# ForWard / BackWard Filling

In [9]:
df

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [17]:
# method={'backfill', 'bfill', 'pad', 'ffill'}
df.fillna(method='pad')

     a    b    c     d
0  0.0  3.0 -1.0   1.0
1  0.0  2.0 -1.0   1.0
2  2.0  3.0 -1.0   9.0
3  2.0  4.0 -4.0  16.0